<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>csv lookup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--mdl-->
    <link href="https://cdn.bootcss.com/material-design-lite/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">

    <!--pace.js-->
    <script data-pace-options='{ "ajax": false }' src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/pace/1.0.2/themes/black/pace-theme-loading-bar.min.css" type="text/css" media="all" />

    <style>
        .achievement{
            margin: 0.4em;
            background-color: lightgrey;
        }
        .mdl-badge[data-badge]:after {
            top: 0.5em;
            right: 0.5em;
        }
        .mdl-badge {
            margin-right: inherit;
        }
    </style>
</head>
<body>
    <div id="app" class="mdl-grid" style="margin-top: 10em; max-width: 1500px; margin-left: auto; margin-right: auto">
        <div class="mdl-cell mdl-cell--8-col" >
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="search-bar">
                <label class="mdl-textfield__label" for="sample3">搜索...</label>
            </div>

            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                <thead>
                    <tr id="table-head">
                        <th class="mdl-data-table__cell--non-numeric">id</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <div class="mdl-cell mdl-cell--8-col" >
            <div class="mdl-shadow--2dp"  style="margin-bottom: 1em;">
                <div style="font-weight: bold; padding: 0.5em; width: 100%; text-align: center; font-size: 1.2em; line-height: 2em;">战功</div>
                <div id="achievements" style="display: flex; "></div>
            </div>
            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                <thead>
                    <tr id="player-table-head">
                        <th class="mdl-data-table__cell--non-numeric">战绩</th>
                    </tr>
                </thead>
                <tbody id="player-table-body">
                </tbody>
            </table>
            <br>
        </div>
    </div>
    <template type="text/html" id="template-achievement">
        <img class="mdl-list__item-avatar achievement" src="{{img}}"  id="{{id}}">
        <div class="mdl-tooltip mdl-tooltip--top" for="{{id}}">
            <p>{{title}}</p>
            {{desc}}
            <p style="margin-bottom: 0;">{{firstCompletion}}</p>
            <div id="{{id}}-progress" class="mdl-progress mdl-js-progress"></div>
        </div>
    </template>
    <script src="https://cdn.bootcss.com/systemjs/0.20.13/system.js"></script>
    <script src="https://cdn.bootcss.com/material-design-lite/1.3.0/material.min.js"></script>
    <script src="bundle.js"></script>
</body>
</html>
